<div class="card text-white bg-dark" >
  <div class="card-header">
    <h4>DETALLE DEL VEHICULO {{vehiculo?.nombre}} - {{vehiculo?.modelo}} - {{vehiculo?.anio}}</h4>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <a class="btn btn-info" *ngIf="!isEditable" (click)="editar()">editar</a>
      <a class="btn btn-danger" *ngIf="isEditable" (click)="cancelar()">cancelar</a>
      <a class="btn btn-primary" *ngIf="isEditable" (click)="grabar()">grabar</a>
    </div>
  </div>
  <div class="card-body" *ngIf="vehiculo">
    <div class="row">
      <div class="col-5">
        <img src="{{vehiculo.foto}}" class="img-thumbnail">
      </div>

      <div class="col-1">

      </div>

      <div class="col-6">
        <form [formGroup]="formularioVehiculo">
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Codigo:</label>
            <div class="col-sm-10">
              <input type="text" [ngClass]="{'form-control-plaintext text-light': !isEditable, 'form-control': isEditable}" 
                id="staticCodigo" formControlName="codigo">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticMarca" class="col-sm-2 col-form-label">Marca:</label>
            <div class="col-sm-10">
              <input type="text" [ngClass]="{'form-control-plaintext text-light': !isEditable, 'form-control': isEditable}" 
                id="staticMarca" formControlName="marca">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticModelo" class="col-sm-2 col-form-label">Modelo:</label>
            <div class="col-sm-10">
              <input type="text" [ngClass]="{'form-control-plaintext text-light': !isEditable, 'form-control': isEditable}" 
                id="staticModelo" formControlName="modelo">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticModelo" class="col-sm-2 col-form-label">Año:</label>
            <div class="col-sm-10">
              <input type="text" [ngClass]="{'form-control-plaintext text-light': !isEditable, 'form-control': isEditable}"
               id="staticModelo" formControlName="anio">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticModelo" class="col-sm-2 col-form-label">Calificacion</label>
            <div class="col-sm-10">
              <app-calificacion [calificacion]="vehiculo.calificacion" *ngIf="!isEditable"></app-calificacion>
              <input type="text" [ngClass]="{'form-control-plaintext text-light': !isEditable, 'form-control': isEditable}"
               id="staticModelo" formControlName="calificacion" *ngIf="isEditable">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-3">
        <a class="btn btn-light" [routerLink]="[ '../']">Regresar</a>
      </div>
    </div>
  </div>
</div>
