
<div style="width: 100%;">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled': currentPage == 1}">
        <a class="page-link" href="javascript:" tabindex="-1" aria-disabled="true" (click)="atras()">Atrás</a>
      </li>
      <li class="page-item" [ngClass]="{'active': item == currentPage}" *ngFor="let item of listaPaginas">
        <a class="page-link" href="javascript:" (click)="_selectPage(item)">{{item}}</a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': currentPage == pages}">
        <a class="page-link" href="javascript:" (click)="siguiente()">Sig</a>
      </li>
    </ul>
  </nav>
</div>  
